

body {
  background-color: #000000;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
header {
  min-height: 100vh;
}
h1 {
  font-size: 5em;
  color: white;
  /* text-transform: uppercase; */
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

