/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*{
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

html{
  font-size: 16px;
  line-height: 1.5;
    margin: 0;
  padding: 0;
 
}

body {
 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;  
}


header {
height: 100vh;
  width: 100vw;
text-align: center;
background-color: black;
color: white;  
font-family: 'Montserrat', sans-serif;  
}


/* targets any <h1> nested inside of <header> */
.display-1 {
  text-transform: lowercase;
  font-size: 6.5rem;
  margin-bottom: .5rem;
}

.display-3 {
/*   font-size: 1.3rem; */
  font-size: 1.75rem;
  margin-bottom: 4rem;
  font-weight: 400;
}



/* NEON TEXT */
/* NEON TEXT TUTORIAL: https://css-tricks.com/how-to-create-neon-text-with-css/ */
/* .neonText {
color: white;
text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #d6292b,
      0 0 82px #d6292b,
      0 0 92px #d6292b;
    
} */


 a.button-outline {
  font-size: 1.2rem;
  outline: #d6292b solid 1px;
  padding: 1rem 1rem;
}

/* LINK ANIMATION */
/* LINK ANIMATION TUTORIAL: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */


a:link {
  position: relative;
  color: #d6292b;
  text-decoration: none;
}

a:visited {
  color: #8d1c1e;
}

a:hover {
  color: #d6292b;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d6292b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

ul {
  padding-left: 2rem;
}
p {
  font-weight: 300;
}

li {
  font-weight: 300;
  line-height: 1.75;
}

figure {
  padding: 2rem 0rem;
}

figcaption {
  font-size: .75rem;
}

.accentColor {
  color: #d6292b;
}


.myBio {
  font-size: 1.25rem;
}

.sectionHeading {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: #d6292b;
}

.resumeHeading {
  margin: 1.2rem 0rem 0rem 0rem;
color: gray;
  font-size: 1.30rem;
}

.resumeItem {
  margin-top: 1rem;
  font-weight: 500;
}

/* .container {
  padding: 2.25rem;
           } */

footer {
  padding-bottom: 0.5rem;
  color: black;
  text-align: center;
}

footer p {
   font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}