/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 18px;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}


header {
min-height: 100vh;
background-color: black;
color: white;    
}

img.headshot {
  width: 350px;
}

.social-icon {
  margin: .5rem;
}
/* targets any <h1> nested inside of <header> */
.display-1 {
  text-transform: lowercase;
  font-size: 6.5rem;
 
}

.display-3 {
/*   font-size: 1.3rem; */
  font-size: 1.75rem;

  font-weight: 400;
}

a:link {
  color: #d6292b;
  text-decoration: none;
}

a:visited {
  color: #8d1c1e;
}

a:hover {
  color: #d6292b;
}



ul {
  padding-left: 2rem;
}
p {
  font-weight: 300;
}

li {
  font-weight: 300;
  line-height: 1.75;
}

figure {
  padding: 2rem 0rem;
}

figcaption {
  font-size: .75rem;
}

.accentColor {
  color: #d6292b;
}


.myBio {
  font-size: 1.25rem;
}

.sectionHeading {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: #d6292b;
}

.resumeHeading {
  margin: 1.2rem 0rem 0rem 0rem;
color: gray;
  font-size: 1.30rem;
}

.resumeItem {
  margin-top: 1rem;
  font-weight: 500;
}

footer {
  background-color: black;
}
